Instagram_Scraper/node_modules/
Instagram_Scraper/package-lock.json
Instagram_Scraper/package.json

Pinterest_Scraper/__pycache__/
Pinterest_Scraper/.idea/
Pinterest_Scraper/build/
Pinterest_Scraper/venv/
Pinterest_Scraper/new.iml
Pinterest_Scraper/pinterest_scraper.spec

Twitter_Scraper/.idea/
Twitter_Scraper/build/
Twitter_Scraper/venv/
Twitter_Scraper/Twitter_Scraper.iml
Twitter_Scraper/Twitter_Scraper.spec

Linkedin_Scraper/.idea/
Linkedin_Scraper/venv/
Linkedin_Scraper/Linkedin_Scraper.iml

Facebook_Page_Scraper/.idea/
Facebok_Page_Scraper/venv/
Facebook_Page_Scraper/Facebook_Page_Scraper.iml

